<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="Author" content="Manideep Bangaru">
        <meta name="Description" content="About me">
        <title> About me </title>
        <link rel="stylesheet" href="/main.css" type="text/css">
    </head>
    <body>
        <h1> This page has all my details</h1>
        <hr>
        <ul>
            <li> Download Manideep's resume <a href="ManideepResume.pdf" download> here </a></li>
            <li> Contact me at <a href="mailto:bmd994@gmail.com">my email address</a></li>
            <li> Dial <a href="tel:+917416228028"> my phone number </a></li>
            <li> Search me on <a href="https://www.google.com/" target="_blank"> Google </a> in a new tab</li>
            <li> Open <a href="https://www.rapidaccelerate.com/" target="_blank"> my website </a></li>
        </ul>
        <hr>
    </body>
    &lt;&lt; <a href="mypage.html">Prev Page</a>
    <br>
    &lt;&lt;&lt; &copy; Manideep Bangaru &gt;&gt;&gt;
</html>