body {
    padding : 10%;
    font-size : 1.5rem;
}

/* input, button {
    font: inherit;
} */

p {
    text-decoration:none ;
    text-transform: capitalize;
    /* text-align:justify; */
    /* text-indent: 2em; */
    /* line-height: 1.5em; */
    /* letter-spacing: 0.25em; */
    word-spacing: 2em;
}