/* * {
    font-family:monospace;
} */

html {
    font-size: 22px;
}

h2, h3 {
    color: chocolate;
}

main {
    font-family: monospace;
}

p {
    color: purple;
}

.gray {
    color: gray;
}

.italyic {
    font-style: italic;
}

.highlight {
    text-transform: uppercase;
    background-color: gold;
}